# === VSCode files ===
.vscode/

# === Binaries ===
simple_calculator

# === Ignore all files without extension ===
*.
!*/
!*.cpp
!*.h
!.gitignore

# === Ignore build directories ===
build/

# === Ignore swp files ===
*.swp
